.crud {
  .form-container {
    .form-agregar {
      #nit {
        margin-left: 100px;
      }
      #nombre {
        margin-left: 65px;
      }
      #ciudad {
        margin-left: 80px;
      }
    }
  }
}
